name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# env:
  # APPLITOOLS_API_KEY: P0RW101riTS69TZtxmb6lNHyfCQbcQPh3FY9CivGiLo2Q110
  # APPLITOOLS_BATCH_ID: ${{ github.sha }}

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x' 
    - run: dotnet build DemoCalculatorApp
    - run: dotnet build AppUnitTests
    